<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolmanagystclient">

    <!--android:usesCleartextTraffic="true"     ***VERSION 9, set in <application>***   -->
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolManagystClient">
        <activity android:name=".presentationTier.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentationTier.PromotionActivity"
            android:label="@string/PromotionActivityTitle">

        </activity>

        <activity
            android:name=".presentationTier.PromotionFormActivity"
            android:label="@string/PromotionFormActivityTitle">

        </activity>

        <activity
            android:name=".presentationTier.StudentActivity"
            android:label="@string/StudentActivityTitle">

        </activity>

        <activity
            android:name=".presentationTier.StudentFormActivity"
            android:label="@string/StudentFormActivityTitle">

        </activity>
    </application>

</manifest>